<!DOCTYPE html>
<html ng-app="App" >
  <head>
    <title>New Sails App</title>

    <meta http-equiv="content-type" content="text/html; charset=windows-1251">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="/styles/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/styles/main.css" rel="stylesheet">
    <link href="/styles/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>

  <body ng-controller="AppCtrl">


    <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Dashboard
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/tables">Tables <span class="menu-icon fa fa-table"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header" ng-controller="HeaderCtrl">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div ng-if="$root.authorized" class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Joe Bloggs
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Profile
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a ng-click="ctr.logout()">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
              <div ng-if="!$root.authorized" class="item">
                <button ui-sref="app.login" class="btn btn-success">LOGIN</button>
                <button ui-sref="app.register" class="btn btn-success">REGISTER</button>
              </div>
              <!-- <div class="item dropdown" uib-dropdown>
               <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div> -->
            </div>
            <div class="meta">
              <div class="page">
                Dashboard
              </div>
              <div class="breadcrumb-links">
                Home / Dashboard
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->


        <!--SCRIPTS-->
        <script src="/js/dependencies/jquery.js"></script>
        <script src="/js/dependencies/angular.js"></script>
        <script src="/js/dependencies/ocLazyLoad.min.js"></script>
        <script src="/js/dependencies/angular-ui-router.min.js"></script>
        <script src="/js/dependencies/angular-animate.min.js"></script>
        <script src="/js/dependencies/ui-bootstrap-tpls-1.1.2.js"></script>
        <script src="/js/dependencies/scriptjs.js"></script>
        <script src="/js/app-routes.js"></script>
        <script src="/js/app-ctrl.js"></script>
        <script src="/js/controllers/HeaderCtrl.js"></script>


        <script src="/js/services/Api.service.js"></script>
        <script src="/js/services/User.service.js"></script>
    </body>
</html>
