<!DOCTYPE html>
<html ng-app="App" >
<head>
  <title>RSS-Aggregator</title>
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=windows-1251">


  <link href="/styles/main.css" rel="stylesheet">
  <link href="/styles/bootstrap.min.css" rel="stylesheet">
  <link href="/styles/fonts.css">
  <link href="/styles/styles.css" rel="stylesheet">
  <link href="/styles/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="AppCtrl">
<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

  <!-- Sidebar -->
  <div id="sidebar-wrapper" ng-controller="SidebarCtrl">
    <ul class="sidebar">
      <li class="sidebar-main">
        <a ng-click="toggleSidebar()">
          RSS-Aggregator
          <span class="menu-icon fa fa-newspaper-o" aria-hidden="true"></span>
        </a>
      </li>
      <li class="sidebar-title"><span>PERSONAL FEEDS</span></li>
      <li class="sidebar-list">
        <a ui-sref="app.news">News <span class="menu-icon fa fa-bars" aria-hidden="true"></span></a>
      </li>
      <li class="sidebar-list">
        <a ui-sref="app.sources">Sources <span class="menu-icon fa fa-bars" aria-hidden="true"></span></a>
      </li>

      <li class="sidebar-tags">
          <div class="row tagForm">
            <!--Tags in item of news-->
            <div class="tagSet">

            <span ng-show="$root.authorized && ctr.userTags.length == 0">
              Add some tags to articles to see them here and filter quickly
            </span>
              <!--Single tag-->
              <div class="tag" ng-repeat="tag in ctr.userTags">
                <div class="tagContent">
                  <a href="#">{{tag.name}}</a>
                  <sup><i class="fa fa-times" aria-hidden="true"></i> </sup>
                </div>
              </div> <!-- End tag-->

            </div> <!--  End tagSet-->
          </div>
      </li>
    </ul>
    <div class="sidebar-footer">
      <div class="col-xs-12">
        <a href="#" target="_blank">
          <i class="fa fa-github" aria-hidden="true"></i>
          Github
        </a>
      </div>
    </div>
  </div>
  <!-- End Sidebar -->

  <div id="content-wrapper">
    <div class="page-content">

      <!-- Header Bar -->
      <div class="row header" ng-controller="HeaderCtrl">
        <div class="col-xs-12">
          <div class="user pull-right">

            <div ng-if="$root.authorized" class="item dropdown" uib-dropdown>
              <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                <img src="img/avatar.jpg">
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">
                  Joe Bloggs
                </li>
                <li class="divider"></li>
                <li class="link">
                  <a href="#">
                    Profile
                  </a>
                </li>
                <li class="link">
                  <a href="#">
                    Menu Item
                  </a>
                </li>
                <li class="link">
                  <a href="#">
                    Menu Item
                  </a>
                </li>
                <li class="divider"></li>
                <li class="link">
                  <a ng-click="ctr.logout()">
                    Logout
                  </a>
                </li>
              </ul>
            </div>

            <div ng-if="!$root.authorized" class="buttons-nav">
              <button ui-sref="app.login" class="btnLogin btn">Login</button>
              <button ui-sref="app.register" class="btnSignUp btn">Sign up</button>
            </div>
          </div>
          <div class="meta">
            <div class="page">
              Rss-Aggregator
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Bar -->

      <!-- Main Content -->
      <div ui-view>
        <!--<div class="searchForm">-->
        <!--<div class="row">-->

        <!--<div class="form-group col-xs-4">-->
        <!--&lt;!&ndash;<label for="tag" class="cols-sm-2 control-label">Tag of New</label>&ndash;&gt;-->
        <!--<input type="text" class="form-control" id="tag"  placeholder="Tag" tabindex="1"/>-->
        <!--</div>-->

        <!--<div class="form-group col-xs-4">-->
        <!--&lt;!&ndash;<label for="url" class="cols-sm-2 control-label">Url</label>&ndash;&gt;-->
        <!--<input type="url" class="form-control" name="url" id="url"  placeholder="Url" tabindex="2"/>-->
        <!--</div>-->
        <!--<div class="form-group col-xs-4">-->
        <!--<button class="btnSearch btn" type="button" ng-click="search()" tabindex="3">Search for News</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="myContainer">
          <div class="row">

            <header class="panel-heading">
              <h1 class="title">Add your favourite News</h1>
            </header>

            <div class="addNewsForm">
              <div class="form-group col-xs-12">
                <label for="title" class="cols-sm-2 control-label">Title</label>
                <input type="text" class="form-control" id="title"  placeholder="Title" tabindex="1"/>
              </div>

              <div class="form-group col-xs-12">
                <label for="url" class="cols-sm-2 control-label">Url</label>
                <input type="url" class="form-control" name="url" id="url"  placeholder="Url" tabindex="2"/>
              </div>
              <div class="form-group col-xs-12">
                <button class="btnSearch btn btn-lg" type="button" ng-click="search()" tabindex="3">Add</button>
              </div>
            </div>
          </div>
        </div>

        <div ng-controller="NewsCtrl">
          <div class="newsChannel" ng-repeat="article in news">

            <div class="itemContent col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
              <h2 class="itemTitle">
                <a rel="external" class="itemLink" href="{{article.link}}" target="_blank">{{article.title}}</a>
              </h2>

              <ul class="info">
                <li class="date">{{article.publication_date}}</li>
                <li class="hourCreate">{{article.createdAt}}</li>
                <li class="hourUpdate">{{article.updatedAt}}</li>
              </ul>

              <span class="itemDescription">{{article.description}}</span>

              <!--Tags in item of news-->
              <div class="tagSet" ng-repeat="tag in article.tags">

                <!--Single tag-->
                <div class="tag">
                  <div class="tagContent">
                    <p class="tagName">#{{tag.name}}</p>
                    <sup><i class="fa fa-times" aria-hidden="true"></i> </sup>
                  </div>
                </div> <!-- End tag-->
              </div> <!--  End tagSet-->

              <input class="tag newTag" type="text" ng-maxlength="60" name="tag" ng-model="newTag">
              <input id="addBtn" name="add" value="+" type="submit" ng-click="showNewTag($index)">

            </div> <!-- End itemContent-->
          </div> <!-- End newsChannel-->
        </div>
      </div>
    </div><!-- End Page Content -->
  </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->

<!--SCRIPTS-->
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/angular.js"></script>
<script src="/js/dependencies/ocLazyLoad.min.js"></script>
<script src="/js/dependencies/angular-ui-router.min.js"></script>
<script src="/js/dependencies/angular-animate.min.js"></script>
<script src="/js/dependencies/ui-bootstrap-tpls-1.1.2.js"></script>

<script src="/js/custom.js"> </script>
<script src="/js/dependencies/scriptjs.js"></script>

<script src="/js/app-routes.js"></script>
<script src="/js/app-ctrl.js"></script>

<script src="/js/controllers/NewsCtrl.js"></script>
<script src="/js/controllers/HeaderCtrl.js"></script>
<script src="/js/controllers/SidebarCtrl.js"></script>
<script src="/js/services/Api.service.js"></script>
<script src="/js/services/User.service.js"></script>
<script src="/js/services/Modal.service.js"></script>
</body>
</html>
