@import "fonts.css";
@import "colors.css";

.blue, .orange, .green, .cornflower {
  font-style: normal;
  font-family: Roboto-Medium;
  font-size: 20px;
}
.blue {
  color: var(--turquoise);
}
.orange {
  color: var(--orange);
}
.green {
  color: var(--light-green);
}
.cornflower {
  color: var(--cornflower-blue);
}

.buttons-nav {
  display: inline-block;
  margin: 13px 20px 13px;
}

.myContainer {
  width: 100%;
}

.control-label {
  font-family: Roboto-Bold;
}

.title {
  color: var(--maroon);
  font-size: 30px;
  margin-bottom: 0;
  text-align: center;
}

.registerForm, .loginForm, .addNewsForm {
  position: relative;
  display: block;
  max-width: 392px;
  width: 100%;
  margin: 12px auto 0;
}

.link-login {
  color: var(--light-green);
}

/*BUTTONS*/
.btnLogin, .btnSignUp, .btnSearch, .btnRefresh, .btnAddSources, .btnSubscribe {
  color: #fff;
  border-radius: 4px;
}

.btnLogin:hover,  .btnLogin:active,  .btnLogin:focus,
.btnSignUp:hover, .btnSignUp:active, .btnSignUp:focus,
.btnSearch:hover, .btnSearch:active, .btnSearch:focus,
.btnRefresh:hover, .btnRefresh:active, .btnRefresh:focus,
.btnAddSources:hover, .btnAddSources:active, .btnAddSources:focus,
.btnSubscribe:hover, .btnSubscribe:active, .btnSubscribe:focus {
  color: #fff;
}

.btnLogin {
  background-color: var(--light-green);
}

.btnSignUp {
  background-color: var(--light-orange);
}

.btnLogin:hover {
  background-color: var(--light-green-70pc);
}

.btnSignUp:hover {
  background-color: var(--light-orange-70pc);
}

.btnSearch {
  background-color: var(--peach);
  width: 100%;
}

.btnRefresh {
  background-color: var(--turquoise);
  margin-bottom: 10px;
  font-size: 14px;
}
.btnRefresh:hover {
  background-color: var(--turquoise-70pc);
}

.btnSearch:hover {
  background-color: var(--orange);
}

.btnAddSources {
  background-color: var(--cornflower-blue);
}

.btnAddSources:hover {
  background-color: var(--cornflower-blue-70pc);
}

.btnSubscribe {
  background-color: var(--light-green);
  float: right;
  margin-top: 10px;
  margin-right: -70px;
}

.btnSubscribe:hover {
  background-color: var(--light-green-70pc);
}
/*END BUTTONS*/

/*NEWS CHANNEL*/
.newsChannel {
  font-family: Roboto-Regular;
}

.itemContent {
  border: 1px solid var(--middle-gray);
  padding: 20px;
  margin-bottom: 10px;
}

.itemTitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.itemLink {
  color: var(--maroon-60pc);
}

.itemLink:hover {
  color: var(--light-green);
  text-decoration: none;
}

.itemDescription {
  display: inline-block;
}

.info {
  padding: 0;
}

.info li {
  display: inline;
}

.hourCreate:before, .hourUpdate:before {
  content: "•";
  margin: 0px 10px;
}

.tagSet {
  margin-top: 5px;
  display: inline-block;
}

.tag {
  border: 1px solid var(--warm-gray);
  border-radius: 4px;
  display: inline-block;
  margin: 3px 2px;
  vertical-align: middle;
}

.tagContent {
  padding: 5px;
}

.tagName, .fa-times {
  display: inline-block;
}

.tagName {
  color: var(--maroon-60pc);
  font-size: 14px;
  line-height: 1.1;
  margin: 5px 10px 0 10px;
  max-width: 110px;
  overflow: hidden;
}

.tag .fa-times {
  color: var(--warm-gray);
  float: right;
  font-size: 12px;
}
/*END NEWS CHANNEL*/

.newTag {
  border: 1px solid var(--cornflower-blue);
  height: 37px;
  padding: 10px;
  width: 150px;
}

#addBtn {
  background-color: var(--cornflower-blue);
  border: none;
  border-radius: 20px;
  color: white;
  display: inline-block;
  font-family: Roboto-Bold;
  font-size: 20px;
  vertical-align: middle;
  width: 30px;
}

#addBtn:focus, .newTag:focus, .btnLogin:focus,
.btnSignUp:focus, .btnSearch:focus {
  outline: 0;
}

#addBtn:disabled {
  background-color: var(--cornflower-blue-50pc);
}

/*TAGS SIDEBAR*/
.sidebar-tags {
  max-width: 250px;
}

.tagForm {
  margin: 5px 5px 15px 5px;
}

.sidebar-tags .tagSet {
  display: inline;
}

.sidebar-tags .tag {
  border: 1px solid #b2bfdc;
  margin: 5px 2px;
}

.sidebar-tags .tag:hover {
  border: 1px solid #e99d1a;
  background-color: #2d3e63;
  cursor: pointer;
}

.sidebar-tags a {
  text-decoration: none !important;
  width: auto !important;
  float: none !important;
  display: inline !important;
}

.sidebar-tags .tagName, .sidebar-tags .fa-times {
  color: #b2bfdc;
}

.sidebar-tags .tagContent {
  color: var(--whitey);
  padding: 3px;
  font-size: 14px;
  margin-left: -12px;
}

.sidebar-tags .tag .fa-times {
  margin-left: -12px;
}
/*END TAGS SIDEBAR*/

/*SEARCH BLOCK*/
.searchForm {
  margin-bottom: 20px;
  margin: 0 40px;
}

.searchForm .tagSet {
  margin-top: 0;
}

#search {
  position: relative;
  font-size: 18px;
}

#search label {
  position: absolute;
  left: 17px;
  top: 27px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.fa-search:before {
  content: "\f002";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#search #search-input, #search .hint {
  padding-left: 43px;
  padding-right: 43px;
  border-radius: 23px;
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

#search #search-clear {
  text-decoration: none;
  position: absolute;
  right: 18px;
  top: 54px;
  color: #b3b3b3;
}

#search #search-clear .fa-times-circle:before {
  content: "\f057";
}
/*END SEARCH BLOCK*/

.blockRefresh {
  margin: 0 40px;
}

.addSourceBlock {
  text-align: center;
  margin-bottom: 15px;
}

.itemName {
  color: var(--maroon);
  margin: 0;
  text-transform: capitalize;
}

.itemUrl {
  color: var(--maroon-70pc);
  text-decoration: underline;
  cursor: pointer;
}

/* FOOTER*/
.footerCase {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.footerCase > span {
  color: var(--maroon-60pc);
}

.link-login:hover {
  text-decoration: none;
  color: var(--light-green);
}
/*END FOOTER*/
